@media screen and (max-width: 1400px){
  .splitView{
    flex-direction: column;
    align-items: center;
  }
  .leftView{
    margin-bottom: 25px; 
  }
  .theNews{
    width: 100% !important;
  }
  .thePicture{
    height: 250px!important;;
  }
  .rightView {
    display: flex;
    width: 100% !important;
    justify-content: center;
    margin-top: 25px;
    gap: 20px;
  }
}
.newsTitle {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
.listNews{
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
.leftView{
  align-items: center;
  width: 75%;
}
.the-news{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.detailNews{
  flex-direction: column;
  margin-bottom: 20px;  
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  border-radius: 10px;
}
.thePicture{
  height: 350px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}
.detail{
  width: 100%;
  align-items: center;
  padding: 0px 20px 20px 20px;
}
.textDetails, .textIntro{
  padding: 0px;
}