@media screen and (max-width: 1400px) {
  .button{
    font-size: 16px !important;
  }
  .the-list-menu{
    display: none !important;
  }
  .button{
    display: none !important; ;
  }
  .drawer{
    display: flex !important;
    width: 70%;
    justify-content: space-between;
    align-items: center;
  }
  .nameInstansi{
    color:#fff;
    margin: 0px;
  }
  .logoMenu{
    width: 10%;
  }
  .theName{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 50%;
  }
  .theDrawer {
    display: flex !important;
  }
  .menuDrawer{
    text-transform: uppercase;
    font-size: 20px;
    color: #075098;
    text-align: center;
  }
  .menuDrawer:Hover{
    background-color: #075098;
    opacity: 0.5;
    color: #fff;
    border-radius: 10px;
    text-align: center;
  }
}
.theMenu{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100px;
  width: 100%;
  background-color: #075098;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 25px;
}
.the-list-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
/* .button{
  color: #fff;
  padding: 5px;
  text-transform: uppercase;
  font-size: 20px;
}
.button:hover{
  color: #075098;
  background-color: #fff;
  border-radius: 10px;
} */
.drawer{
  display: none;
}
.theDrawer{
  display: none;
}
.menuDrawer {
  text-transform: uppercase;
  font-size: 20px;
  color: #075098;
  text-align: center;
}
.menuDrawer:Hover {
  background-color: #075098;
  opacity: 0.5;
  color: #fff;
  border-radius: 10px;
  text-align: center;
}
