@media screen and (max-width: 1400px) {
  .columnHome {
      flex-direction: column;
  }
  .logo{
    display: flex;
    justify-content:center;
  }
  .logoImg {
    width: 60% !important;
  }
  .name{
    text-align: center;
    font-size: 24px !important;
    margin-bottom: 10px !important;
  }
  .description{
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }
  .email,.location{
    width: 50%;
    margin: 0px !important;
  }
  .details,.details1, .textDetails,.textDetails2,.nameButton{
    font-size: 16px!important;
  }
  .nameTitle{
    font-size: 20px !important;
    margin-bottom: 5px !important;
  }
  .subMenuName{
    font-size: 20px !important;
  }
  .textIntro, .textIntro2{
    font-size: 12px !important;
    padding-top: 0px !important
  }
  .right-view {
    display: flex;
    width: 100% !important;
    justify-content: center;
    margin-top: 25px;
  }
  .left-view{
    width: 100% !important;
  }
  .categoryArticle, .categoryNews{
    width: 50% !important;
  }
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}
.columnHome {
  display: flex;
  align-items: center;
  width: 80%;
  gap: 10px;
  justify-content: center;
}
.logoImg {
  width: 100%;
}
.name {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0px;
}
.email,
.location {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.details1 {
  font-size: 18px;
  margin: 0px;
  font-weight: 600;
}
.details {
  font-size: 18px;
  margin: 0px;
}
.theInstansi{
  margin-top: 25px;
  display:flex;
  align-items: center;
  gap : 20px;
  justify-content: space-between;
  width: 80%;
}
.nameTitle{
  font-size: 26px;
  font-weight: 600;
  margin: 0px 0px 10px 0px;
}
.buttonDetails{
  background-color: #075098 !important;
  color: #fff !important;
  border-radius: 10px;
  width: 50%;
  text-align: center;
  padding: 5px 10px;
}
.nameButton{
  font-size: 20px;
  font-weight: 400;
  margin: 0px;
}
.lg-style{
  display: flex;
  justify-content: flex-end;
}
.logoImg2 {
  width: 70%;
}
.carousel{
  width: 90%;
  justify-content: center;
  display: flex;
  margin-top: 25px;
  align-items: center;
}
.splitView{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 25px;
}
.left-view{
  width: 75%;
}
.right-view {
  width: 22%;
}
.subMenuName{
  font-size: 26px;
  font-weight: 600;
  margin: 0px;
  text-align: center;
}
.theGallery{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;
}
.the-picture{
  width: 30%;
  border-radius: 10px;
}
.news, .article{
  margin-top: 25px;
}
.the-detail-news, .the-detail-article{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  gap : 20px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  border-radius: 10px;
}
.textDetails{
  padding-right: 20px;
  padding-top: 20px;
  width: 100%;
  text-align: left;
  font-size: 20px;
  font-weight: 600;
}
.textIntro {
  padding-right: 20px;
  padding-bottom: 20px;
  width: 100%;
  text-align: left;
  font-size: 16px;
}
.textDetails2 {
  padding-left: 20px;
  padding-top: 20px;
  width: 100%;
  text-align: right;
  font-size: 20px;
  font-weight: 600;
}
.textIntro2{
  padding-left: 20px;
  padding-bottom: 20px;
  width: 100%;
  text-align: right;
  font-size: 16px;
}
.categoryNews, .categoryArticle{
  border-radius: 10px;
  margin-bottom: 25px;
}
