.box-category{
  border-radius: 10px;
  border-top: 2px solid #075098;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 20px 20px;
}
.textCategory {
  padding: 5px 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
}
.textCategory:hover,
.the-detail-news:hover {
  background-color: rgb(7, 80, 152, 0.2);
  border-radius: 10px;
}
.categoryName {
  font-size: 20px;
  font-weight: 600;
  padding: 0px 10px;
  margin: 0px;
}
.the-line{
  border-top: 0.1px solid #075098;
}